.text-al{
  text-align: left !important;

}
.text-ar{
  text-align: right !important;
}

.custom-file-input::-webkit-file-upload-button {

}
.custom-file-input{
  cursor: pointer;
  border: 0;
  text-indent: -9999em;
  line-height:3000;
  min-width: 40px;
  height: 40px;
}
.form-horizontal-none-pl{
    padding-left: 0px;
}
.excel-default{
  background-image: url('../img/excel-default.png');
  background-repeat: no-repeat;
}
.excel-after{
  background-image: url('../img/excel-after.png');
  background-repeat: no-repeat;
}

.badge-danger {
  background-color: #e74c3c !important;
}

.badge-danger:hover {
  background-color: #3498db !important;
}

.badge-primary {
  background-color: #3498db !important;
}

.badge-primary:hover {
  background-color: #e74c3c !important;
}
body.cm-login{
    background-image: url('../img/cs-3.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;

}

body.cm-admin-login{
    background-image: linear-gradient(to bottom, rgba(225, 217, 217, 0.4) 0%,rgba(225, 217, 217, 0.4) 100%),url('../img/cs-3-2.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;

}
#cm-menu .vlu-logo{
  display: block;
  height: 50px;
  background: url('../img/logoVLU1.png') no-repeat 35px center transparent;

}

.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.ml-10{
  margin-left: 10px;

}

.mr-10{
  margin-right: 10px;
}

.mb-10{
  margin-bottom: 10px;
}
.table-wrapper-scroll-y {
  display: block;
  max-height: 350px;
  overflow-y: auto;
}
.waiting{
  position: absolute;
  display: none;
  top: 50%;
  left : 50%;

}
.font-weight-bold{
  font-weight: bold;
}

ol.breadcrumb > li > a {
    color: #ffffff;
    text-decoration: none;
}
ol.breadcrumb > li > a:hover {
    color: #ffffff;
    text-decoration: underline;
}
ol.breadcrumb >.active {
    color: #ff9f9f;
}

.sticky-panel {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
}
.cm-menu-items li.active a {
    -webkit-box-shadow:inset 8px 0px 0px 0px #d51c28;
    box-shadow: inset 8px 0px 0px 0px #d51c28;
}
.required:after{
    content:'*';
    color:red;
    padding-left:5px;
}


.twitter-typeahead{
    display: block!important;
}
.tt-menu{
    width: 100%;
    cursor: pointer;

}
.list-group-item{
    border: 1px solid #66afe9 !important;
}
.list-group-item:hover{
    background: #f3f2f2 !important;

}
