.text-al{
  text-align: left !important;

}
.text-ar{
  text-align: right !important;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input{
  cursor: pointer;
  border: 0;
  text-indent: -9999em;
  line-height:3000;
  min-width: 40px;
  height: 40px;
}
.form-horizontal-none-pl{
    padding-left: 0px;
}
.excel-default{
  background-image: url('../img/excel-default.png');
  background-repeat: no-repeat;
}
.excel-after{
  background-image: url('../img/excel-after.png');
  background-repeat: no-repeat;
}

.badge-danger {
  background-color: #e74c3c !important;
}

.badge-danger:hover {
  background-color: #3498db !important;
}

.badge-primary {
  background-color: #3498db !important;
}

.badge-primary:hover {
  background-color: #e74c3c !important;
}
body.cm-login{
    background-image: url('../img/cs-3.jpg');
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;

}
#cm-menu .vlu-logo{
  display: block;
  height: 50px;
  background: url('../img/logoVLU1.png') no-repeat 35px center transparent;

}

.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.ml-10{
  margin-left: 10px;

}

.mr-10{
  margin-right: 10px;
}

.mb-10{
  margin-bottom: 10px;
}
.table-wrapper-scroll-y {
  display: block;
  max-height: 350px;
  overflow-y: auto;
}
.waiting{
  position: absolute;
  display: none;
  top: 50%;
  left : 50%;

}
.font-weight-bold{
  font-weight: bold;
}
